


body{
    background-color: rgb(121, 121, 121);
    align-items: center;
}

#celular{
    margin: 100px 700px;
    padding: 15px;
    padding-top: 40px;
    background-color: #a6ccff;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#icone{
    width: 90px;
}

#bem__vindo{
color: aliceblue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
}

#alinhar__texto{
    text-align: center;
}

.opacity{
    opacity: 50%;
    margin: 10px;
}

.id{
    background-color: #539bf8;
    margin: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.idr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #539bf8;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.wifi{
    text-align: start;
    padding: 10px;
}


.retangulo{
    border-style: solid;
    border-radius: 1%;
    width: 200px;
    border-color: #1f559b;
    margin: 1px;
    border-radius: 1px;
    padding: 50px;
    background-color: rgb(71, 71, 223);
}

.quadradao{
    padding: 100px;
    padding-right: 110px;
    text-align: start;
    background-color: rgb(115, 115, 233);
}

.meio{
    padding: 200px;
    margin: 5px;
    color: white;
    text-decoration: underline;
    text-align: center;
    border-style: solid;
    border-color: #8dbeff;
}

.idl{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #539bf8;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
    text-align: center;
    border-style: solid;
    border-color: #8dbeff;
    border-radius: 100px;
}

.ide{
    background-color: white;
    padding: 0px;
    margin: 5px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
}

.jc{
    padding-left:10px ;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enterprise{
    opacity: 50%;
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.brazul{
    background-color: #539bf8;
    padding: 12px;
    padding-left: 20px;
    margin: 5px;
    color: white;
    text-decoration: underline;
    
}

.brazul__b{
    background-color: #539bf8;
    padding: 0px;
    margin: 5px;
    color: white;
    text-decoration: underline;
    border-radius: 15px;
    text-align: center;
    border-style: solid;
    border-color: #8dbeff;
}

#icone__google{
    width: 55px;
}

#icone__linkedin{
    width: 45px;
    margin: 5px;
    margin-right: 6px;
    
}

.invisivel{
    padding: 50px;
    background-color: #a6ccff;

}

.invisivel__dois{
    padding: 30px;
    background-color: #a6ccff;
}

.button{
    color: #ffffff;
    background-color: #539bf8;
    border: none;
    font-size: 17px;
    text-decoration: underline;
}

.text__box{
    color: #ffffff;
    background-color: #539bf8;
    border: none;
    font-size: 15px;
    padding: 5px;
    width: 390px;
}

input::placeholder {
    color: #ffffff;
    opacity: 50%;
    text-decoration: underline;
    font-size: 16px;
}

