


body{
    background-color: #a6ccff;
    align-items: center;
    margin: 0;
}



#icone{
    margin-top: 50px;
    width: 90px;
}

#bem__vindo{
color: aliceblue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
}

#alinhar__texto{
    text-align: center;
}

.opacity{
    opacity: 50%;
    margin: 10px;
}

.opacity__dois{
    opacity: 50%;
    margin: 0;
    font-size: 20px;
}

.id{
    background-color: #539bf8;
    margin: 5px;
    padding: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 15px;
}

.idr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #539bf8;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.wifi{
    text-align: start;
    padding: 10px;
}


.retangulo{
    border-style: solid;
    border-radius: 1%;
    width: 200px;
    border-color: #1f559b;
    margin: 1px;
    border-radius: 1px;
    padding: 50px;
    background-color: rgb(71, 71, 223);
}

.quadradao{
    padding: 100px;
    padding-right: 110px;
    text-align: start;
    background-color: rgb(115, 115, 233);
}

.meio{
    padding: 200px;
    margin: 5px;
    color: white;
    text-decoration: underline;
    text-align: center;
    border-style: solid;
    border-color: #8dbeff;
}

.idl{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #539bf8;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
    text-align: center;
    border-style: solid;
    border-color: #8dbeff;
    border-radius: 100px;
}

.ide{
    background-color: white;
    padding: 0px;
    margin: 5px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
}

.jc{
    padding-left:10px ;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enterprise{
    opacity: 50%;
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.brazul{
    background-color: #539bf8;
    padding: 12px;
    padding-left: 20px;
    margin: 5px;
    color: white;
    text-decoration: underline;   
}

.brazul__b{
    background-color: #539bf8;
    padding: 0px;
    margin: 5px;
    color: white;
    text-decoration: underline;
    border-radius: 15px;
    text-align: center;
    border-style: solid;
    border-color: #8dbeff;
}

#icone__google{
    width: 55px;
}

#icone__linkedin{
    width: 45px;
    margin: 5px;
    margin-right: 6px;
    
}

.invisivel{
    padding: 50px;
    background-color: #a6ccff;

}

.invisivel__dois{
    padding: 30px;
    background-color: #a6ccff;
}

.button{
    color: #ffffff;
    background-color: #539bf8;
    border: none;
    font-size: 17px;
    text-decoration: underline;
}

.text__box{
    color: #ffffff;
    background-color: #539bf8;
    border: none;
    font-size: 15px;
    padding: 5px;
    width: 350px;
}

input::placeholder {
    color: #ffffff;
    opacity: 50%;
    text-decoration: underline;
    font-size: 16px;
}

.quadrado__verificar{
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #539bf8;
}

.display__cod{
  display: flex;
  margin-left: 40px;
}

.email__margin{
    margin-top: 5px;
  margin-bottom: 10px;
}

#header__azul {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    background-color: rgba(83, 155, 248); 
    color: white;
    padding: 10px;
    z-index: 10; 
  }

#ferrovia {
  width: 100%;
  height: auto;
  display: block;
}

.sujestoes{
    background-color: #256cc8;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #0058cd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.fd{
    background-color: #256cc8;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #0058cd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}


#sujestoes__div{
    margin: 2px;
}

#ferrovia {
    width: 100%;
    height: auto;
    display: block;
  }

.imagem-com-header {
    position: relative; 
    width: 100%;
    height: auto;
}

#footer__home {
    background-color: #256cc8;
    padding: 55px;
    margin: 0;
}
#ferrovia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundocomunic{
    background-color: #004aad;
    padding: 200px 25px;
    margin: 20px;
    border-radius: 20px;
}

.divcomunic{
    background-color: #2f88ff;
    padding: 50px 120px;
    border-radius: 20px;
    border: 3px;
    border-color: #0058cd;
    border-style: solid;

}
